<mat-toolbar>
  <a class="brand-small-logo" routerLink="/">MERLIN</a>
  <span class="header-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <span class="material-symbols-outlined">
      favorite
    </span>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <span class="material-symbols-outlined">
      account_circle
    </span>
  </button>
</mat-toolbar>
